extend ../_/layout

block run
  script.
    /* global PullToRefresh */
    function computePiecewiseLinear(x, segments) {
    let ret = 0;

    for (let i = 0; i < segments.length; i++) {
        const { startingAtX, denominator } = segments[i];
        const nextStartingAtX = segments[i + 1]?.startingAtX ?? Infinity;

        if (x <= startingAtX) {
        break;
        }
        const segmentEnd = Math.min(x, nextStartingAtX);
        const segmentContribution = (segmentEnd - startingAtX) / denominator;

        ret += segmentContribution;
    }

    return ret;
    }
    PullToRefresh.init({
    mainElement: '#main',
    distThreshold: 80,
    cssProp: "asdf",
    getStyles: () => {
      return "\n.__PREFIX__ptr {\n  box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.12);\n  pointer-events: none;\n  font-size: 0.85em;\n  font-weight: bold;\n  top: 0;\n\n  transition: height 0.3s, min-height 0.3s;\ntransition: margin-top 0.3s;\n  text-align: center;\n  width: 100%;\n  overflow: hidden;\n  display: flex;\n  align-items: flex-end;\n  align-content: stretch;\n}\n\n.__PREFIX__box {\n  padding: 10px;\n  flex-basis: 100%;\n}\n\n.__PREFIX__pull {\n  transition: none;\n}\n\n.__PREFIX__text {\n  margin-top: .33em;\n  color: rgba(0, 0, 0, 0.3);\n}\n\n.__PREFIX__icon {\n  color: rgba(0, 0, 0, 0.3);\n  transition: transform .3s;\n}\n\n/*\nWhen at the top of the page, disable vertical overscroll so passive touch\nlisteners can take over.\n*/\n.__PREFIX__top {\n  touch-action: pan-x pan-down pinch-zoom;\n}\n\n.__PREFIX__release .__PREFIX__icon {\n  transform: rotate(180deg);\n}\n";
    },
    onDistance: (p) => {
    p.ptrElement.style["marginTop"] = `${p.dist}px`;
    console.log("oversclow", p.dist);
    },
    onReleasingWhilePulling: () => {console.log('releasing while pulling'); },
    distanceResistedFunction: ({ distExtra, distThreshold }) => {
        let x = distExtra;
        const segments = [
        { startingAtX: 0, denominator: 1 },
        { startingAtX: 10, denominator: 1.25 },
        { startingAtX: 25, denominator: 1.5 },
        { startingAtX: 50, denominator: 2 },
        { startingAtX: 75, denominator: 3 },
        { startingAtX: 120, denominator: 5 },
        ];
        const ret = computePiecewiseLinear(x, segments);
        return ret;
    },
    onRefresh: function () {
        alert('refresh');
    },
    });
